<%= form_for(@kid) do |f| %>
  <% if @kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
      <% @kid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-4 checkbox-list">

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

  </div>
  <div class="col-sm-6 checkbox-list">
    <p>
      <h4>Candies</h4>
    </p>
    <div class="field">
      <%#= collection_check_boxes(:kid, :candy_ids, @candies, :id, :name) %>
    </div>
    <%= collection_check_boxes(:kid, :candy_ids, @candies, :id, :name) %>
  </div>
</div> <!-- Row end -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
