<%= form_for(@candy) do |f| %>
  <% if @candy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candy.errors.count, "error") %> prohibited this candy from being saved:</h2>

      <ul>
      <% @candy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<hr />
  <div class="row">
    <div class="col-sm-4 checkbox-list">

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
    </div>
    <div class="col-sm-6 checkbox-list">
      <p>
        <h4>Children</h4>
      </p>
      <div class="field">
        <%= collection_check_boxes(:candy, :kid_ids, @kids, :id, :name) %>
      </div>
    </div>
  </div> <!-- Row end -->
  <hr />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
