<p id="notice"><%= notice %></p>

<h1>Listing Candies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candies.each do |candy| %>
      <tr>
        <td><%= candy.name %></td>
        <td><%= candy.kids.map {|k| k.name}.join(', ') %></td>
        <td><%= link_to 'Show', candy %></td>
        <td><%= link_to 'Edit', edit_candy_path(candy) %></td>
        <td><%= link_to 'Destroy', candy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<p>
  Add: <%= link_to 'New Candy', new_candy_path %><br />
  Go to: <%= link_to 'Kids', kids_path %>
</p>
