<p>
  <strong>Name:</strong>
  <%= @candy.name %>
</p>
<p>
  <strong>Kids Names:</strong>
  <%= @candy.kids.map {|k| k.name}.join(', ') %>
</p>
<%= link_to 'Edit', edit_candy_path(@candy) %> |
<%= link_to 'Back', candies_path %>
