/* Mikey's Tinkering */
.wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*align-content: center;*/
}

/*.button .btn btn-default {
   background-color: #e5ffff;
}
*/
.navbar-default {
  background-color: #e8c3ef;
  border-color: #e28ae1;
}

.navbar-default .navbar-nav {
  background-color: #e8c3ef;
  border-color: #e28ae1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #440a3f;
}

.navbar-default .navbar-brand {
  color: #440a3f;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #704479;
}
.navbar-default .navbar-text {
  color: #440a3f;
}
.navbar-default .navbar-nav > li > a {
  color: #440a3f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #704479;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e8c3ef;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #440a3f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #704479;
  background-color: #e28ae1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #e28ae1;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #704479;
  background-color: #e28ae1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #704479;
  background-color: #e28ae1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #704479;
  background-color: #e28ae1;
}
.navbar-default .navbar-toggle {
  border-color: #e28ae1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e28ae1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #440a3f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #440a3f;
}
.navbar-default .navbar-link {
  color: #440a3f;
}
.navbar-default .navbar-link:hover {
  color: #704479;
}

/*.navbar-brand {
    background-image: image_url('kiwi_bird.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    min-height: 60px;
    padding: 5px;
    vertical-align: middle;
    padding-left: 80px;
    display: inline-block;
}

.navbar-brand img {
    border: 10px;
    padding-top: 37.36%;
    padding-right: 15px;
}
.navbar .nav > li.dropdown.open > a
{
   color: #306990;
   background-color: #80e0e0;
   /*border-color: #fff;
}
*/
.content {
  padding-top: 80px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   min-height: 400px;
}

/*table.table-fixedheader>tbody {
    display: block;
}

table.table-fixedheader>tbody {
    overflow-y: auto;
    height: 500px; /*placeholder:  override as needed*//*
}
*/
/*table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td {
    float: left;
    width: 100%; /*placeholder:  override as needed*/ /*
}*/
.table-center {
    text-align: center;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #F5E2D7;
}
.columnFee {/*max-width:300px;
            word-wrap:break-word; */
            text-align: right;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}

footer {
    display: block;
    color: #440a3f;
    background-color: #e8c3ef; /*Lavish Color
    /*color: #306990;
    background-color: #7afafa; /*Original color*/
    text-align: center;
}
footer hr {
    border-color: #e28ae1; /*line color in Chrome and Safari */
    color: #440a3f; /*line color in IE7+*/
    background-color: #0000CC; /*line color in Firefox/Opera*/
    /* display: block; */
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /*width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;*/
}


/*div {
    border:2px solid red;
}*/
