<div>
  <footer class="footer">
    <hr />
    <p><%= link_to 'Home', root_path %></p>
    <hr />
    <small>
    <p>Created with a tutorial by <a href="http://www.britneywright.com">Britney Wright</a> - 2013</p>
    <p>Another Ruby on Rails App by <a href="http://mowen.imgd.ca/myweb/">Mike Owen</a>
    </p>
    </small>
  </footer>
</div>
