<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- <div class="container-fluid"> -->
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IMG 240 Learning Rails - HABTM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	      <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Instructions", instructions_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Kids", kids_path %></li>
			      <li><%= link_to "Candies", candies_path %></li>
            <li class="divider"></li>
            <li><a href="https://github.com/britneywright/habtm">Britney Wright's Github</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://sparc.nic.bc.ca/courses/content/img240">IMG240</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://sparc.nic.bc.ca/docs/ruby/">Ruby 2.3.0</a></li>
            <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
            <li><a href="http://sparc.nic.bc.ca/docs/ruby_core/">Ruby Core</a></li>
            <li class="divider"></li>
            <li><a href="https://bitbucket.org">Bitbucket</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
